* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
background: #111;
color: white;
}

/* NAVBAR */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background: black;
position: fixed;
width: 100%;
top: 0;
}

.logo {
font-size: 1.5rem;
font-weight: bold;
}
/* image */
body {
  background-image: url("https://cdn.wallpapersafari.com/83/21/CT4j1c.jpg");
  background-size: cover;        /* makes it fill the screen */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* prevents tiling */
}
.nav-links a {
margin: 0 10px;
color: white;
text-decoration: none;
}

.menu-toggle {
display: none;
font-size: 24px;
background: none;
border: none;
color: white;
}

/* HERO */
.hero {
height: 100vh;
background: url('hotel.jpg') center/cover no-repeat;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.hero h1 {
font-size: 3rem;
}

.hero-buttons {
margin-top: 20px;
}

.btn {
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
text-decoration: none;
}

.primary {
background: gold;
color: black;
}

.secondary {
border: 1px solid white;
color: white;
}

/* FEATURES */
.features {
padding: 80px 20px;
text-align: center;
}

.feature-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
}

.card {
background: #222;
padding: 20px;
border-radius: 10px;
}

/* CTA */
.cta {
text-align: center;
padding: 50px;
background: #000;
}

/* FOOTER */
.footer {
text-align: center;
padding: 20px;
background: black;
}

.footer-links a {
margin: 0 10px;
color: white;
}

/* MOBILE */
@media (max-width: 768px) {
.nav-links {
display: none;
flex-direction: column;
}

.nav-links.active {
display: flex;
}

.menu-toggle {
display: block;
}
}
