#mainnavbar{
  color: #000000;
  background-color: white;
  border: 2px black solid;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
#welcome1{
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjIDZOwYaE_rWwELCQByeTLA48MylTRf568w&s);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: rgba(255, 255, 255, 0.5)
  border: 1px black solid;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
}
body{
background-image: url(https://t3.ftcdn.net/jpg/07/08/06/86/360_F_708068656_8H62f8D3N0h2jrFFavsbFNXftGtouOV6.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height: 100vh;
}
* {
  box-sizing: border-box;
}
}
#mainnavba ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
